.alert {
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  &.hidden {
    display: none;
  }

  button:hover {
    background-color: transparent;
  }
}
