button {
  font-family: 'DM Sans';
  font-style: normal;
}

.primary-button {
  background: $primary;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  color: $white;
  height: 61px;
  padding: 20px 40px 21px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.secondary-button {
  background: $white;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  color: $primary;
  padding: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.big-button {
  background: $white;
  box-shadow: 0px 2px 11px rgba(69, 65, 164, 0.06),
    0px 4px 10px rgba(31, 37, 89, 0.07);
  border-radius: 16px;
  color: $text-primary;
  border: 1px solid $light;
  margin: 0 10px;
  width: 284px;
  height: 115px;

  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  &:hover {
    border: 2px solid $primary;
  }

  .img-container {
    background-color: rgba(163, 179, 79, 0.2);
    border-radius: 50%;
    padding: 3px;
  }
}
