.separator {
  border-top: 1px solid #d9dbe9;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 64px;
}

.connection-container {
  background: $white;

  border: 1px solid $light;

  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;
  padding: 33px 38px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
}

.preview-container {
  border: 1px solid $light;
  margin-top: 40px;
}

.logs {
  height: 500px;
}

.console-message {
  color: $white;
  font-family: monospace;
  font-size: 16px;
  margin: 0;
}
