span {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  color: $text-primary;

  &.error {
    padding: 8px 0px;
    font-weight: 300;
    font-size: 14px;
    color: $danger;
    line-height: 1;
  }
}

h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;

  color: $text-primary;
}

h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;

  color: $text-primary;
}

p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: $text-secondary;
}
