* {
  font-family: 'DM Sans', sans-serif;
}

$postgres: #336791;
$primary: $postgres;
$light: #eff0f7;
$background: #f5f8fa;
$text-primary: #170f49;
$text-secondary: #6f6c90;
$white: #ffffff;

@import '~bootstrap/scss/bootstrap';

html,
body {
  background-color: $background;
}

@import './styles/Button.scss';
@import './styles/Input.scss';
@import './styles/Misc.scss';
@import './styles/Text.scss';
@import './components/Toast/Toast.scss';
@import './components/Breadcrumb/Breadcrumb.scss';
